docker {
    enabled = true
}

executor {
  name = 'local'     
}

process {
    withName: 'TRIM_GALORE' {
        container = 'community.wave.seqera.io/library/trim-galore:0.6.10--12f233b70d34aef7'
    }

    withName: 'FASTQC_MULTIQC' {
        container = 'community.wave.seqera.io/library/fastqc_multiqc:b5bfc6b8e774a3de'
    }
    
    withName: 'HISAT_MAP' {
        container = 'community.wave.seqera.io/library/hisat2_samtools:163592d334ddeb47'
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'community.wave.seqera.io/library/hisat2_samtools:163592d334ddeb47'
    }

    withName: 'FEATURE_COUNTS' {
        container = 'community.wave.seqera.io/library/subread:2.1.1--d376568a21d6ceaa'
    }
    
}